.pageWrapper {
  position: relative;
}

.box-shadow {
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

// breadcrumb
.hx-breadcrumb {
  margin-bottom: 15px;
}

// form-container
.hx-form-container {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  .el-form-item {
    margin-bottom: 0px !important;
  }
}

// search-container
.hx-search-container {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  .el-form-item {
    margin-bottom: 0px !important;
  }
}

// section-container
.hx-section-container {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
